
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.ng-invalid .ng-dirty {
  border: 1px solid red;
}

button:hover, btn:hover {
  cursor: pointer;
}
